[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-ffmpeg = "*"
ffprobe-python = "*"
torchaudio = "*"
speechbrain = "*"
torchvision = "*"
pynvml = "*"
humanize = "*"
enlighten = "*"
psutil = "*"

[dev-packages]
pylint = "*"
mypy = "*"
flake8 = "*"
black = "*"
ruff = "*"

[scripts]
check = "python src/entry.py"
test = "python tests/test_simple.py tests/test_ru.wav"
lint = "bash -c 'pipenv run mypy; pipenv run ruff'"
mypy = "mypy src --strict --ignore-missing-imports"
ruff = "ruff check src"

[requires]
python_version = "3.11"
