[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-ffmpeg = "*"
torchaudio = "*"
speechbrain = "*"
torchvision = "*"
pynvml = "*"
humanize = "*"
enlighten = "*"
psutil = "*"
apischema = "*"

[dev-packages]
pylint = "*"
mypy = "*"
flake8 = "*"
black = "*"
ruff = "*"
types-psutil = "*"

[scripts]
check = "python src/entry.py"
test = "python tests/test_simple.py tests/test_ru.wav"
lint = "bash -c 'pipenv run mypy; pipenv run ruff'"
mypy = "mypy src/ --strict --ignore-missing-imports"
ruff = "ruff check src/"
ruff-ci = "ruff check src/ --format=github"
ruff-fix = "ruff check src/ --fix"
schema = "python src/entry.py schema"

[requires]
python_version = "3.11"
