[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu132/"
verify_ssl = true
name = "torch-nvidia"

[[source]]
url = "https://download.pytorch.org/whl/cu130/"
verify_ssl = true
name = "torch-nvidia-old"

[[source]]
url = "https://download.pytorch.org/whl/nightly/rocm7.2/"
verify_ssl = true
name = "torch-amd"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "torch-cpu"


[packages]
#see: https://github.com/speechbrain/speechbrain/pull/2996
# once this has a release, use it
python-ffmpeg = "*"
pyyaml = "*"
enlighten = "*"
psutil = "*"
apischema = "*"
pysoundfile = "*"
themoviedb = "*"
sentencepiece = {git = "https://github.com/google/sentencepiece", subdirectory = "python", ref="13394e10a2e7b8a6912cf087681f77c96f9f6020"}
prompt-toolkit = "*"
questionary = "*"
colorlog = "*"
pyperclip = "*"
annotated-types = "*"

# fastapi for the backend, using standard feature / configuration
"fastapi[standard]" = "*"
"uvicorn[standard]" = "*"
websockets = "*"

## generic opencl
pyopencl = "*"
siphash24 = "*"

# video tag creation
mutagen = "*"
pymkv2 = "*"

##no dedicated gpu
[integrated]
torchaudio = {version = "*", index="torch-cpu", markers = "sys_platform == 'linux' and python_version == '3.13'"}
torchvision = {version = "*", index="torch-cpu", markers = "sys_platform == 'linux' and python_version == '3.13'"}
torch = {version = "*", index="torch-cpu", markers = "sys_platform == 'linux' and python_version == '3.13'"}

speechbrain = {version = ">=1.1.0"}

##nvidia gpu
[nvidia]
nvidia-ml-py = "*"
torchaudio = {version = "*", index="torch-nvidia-old", markers = "sys_platform == 'linux' and python_version == '3.13'"}
torchvision = {version = "*", index="torch-nvidia", markers = "sys_platform == 'linux' and python_version == '3.13'"}
torch = {version = "*", index="torch-nvidia", markers = "sys_platform == 'linux' and python_version == '3.13'"}

speechbrain = {version = ">=1.1.0"}

##amd gpu
[amd]
amdsmi = "*"
torchvision = {version = "==0.29.0.dev20260619+rocm7.2", index="torch-amd", markers = "sys_platform == 'linux' and python_version == '3.13'"}
torch = {version = "==2.14.0.dev20260618+rocm7.2", index="torch-amd", markers = "sys_platform == 'linux' and python_version == '3.13'"}
torchaudio = {version = "==2.11.0.dev20260619+rocm7.2", index="torch-amd", markers = "sys_platform == 'linux' and python_version == '3.13'"}
triton-rocm = {version = "==3.7.1+git5d6048aa", index="torch-amd", markers = "sys_platform == 'linux' and python_version == '3.13'"}

speechbrain = {version = ">=1.1.0"}

## usage: pipenv install --categories "packages,dev-packages,amd"

[dev-packages]
pylint = "*"
mypy = "*"
flake8 = "*"
black = "*"
ruff = "*"
types-psutil = "*"
pytest = "*"
pytest-cov = "*"
pytest-assertcount = "*"
pytest-subtests = "*"
types-requests = "*"
requests = "*"
chardet = "*"
types-pyyaml = "*"

[scripts]
check = "python src/entry.py run"
lint = "bash -c 'pipenv run mypy && pipenv run ruff'"
mypy = "mypy src/ tests/"
ruff = "ruff check src/ tests/"
ruff-fix = "pipenv run ruff --fix"
schema = "python src/entry.py schema"
gui = "python src/entry.py gui"
tagger = "python src/entry.py tagger"
api = "python src/entry.py api"
test = "pytest tests/"
coverage = "bash -c 'coverage run -m pytest tests/ && coverage xml'"
extract_translation = "pygettext3 -d video_language_detect -o locales/video_language_detect.pot src/"
generate_translation = "bash -c 'for PO_FILE in locales/*/LC_MESSAGES/*.po; do MO_FILE=\"${PO_FILE/.po/.mo}\"; msgfmt -o \"$MO_FILE\" \"$PO_FILE\"; done'"

[requires]
python_version = "3.13"
