
[tool.pytest.ini_options]
enable_assertion_pass_hook = true
pythonpath = "src"
testpaths = ["tests"]

[tool.ruff]

# Exclude directories.
exclude = []

# 88 (standard) is to small
line-length = 100
indent-width = 4

target-version = "py313"

[tool.ruff.lint]

select = ["ALL"]

ignore = [
    "E501",    # => line length violations
    "PLR2004", # => magic-value-comparison 
    "PLR0913", # => too-many-arguments
    "PLR0911", # => too-many-return-statements
    "PLR0912", # => too-many-branches 
    "UP007",   # => non-pep604-annotation  (Union[a,b] => a|b is fine, but i like Optional[a] better then a|None)
    "UP045",   # => same as above
    "ANN401",  # => any-type 
    "D",       # pydocstyle => I don't use doc strings atm. 
    "C90",     # mccabe => complexity isn't of concern atm.
    "TC006",   # runtime-cast-value => I prefer using normal types, not string quoted ones
    "FIX",     # todo activate
    "TD",      # todo activate,
]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []


# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

per-file-ignores = { "__init__.py" = [
    "E402", # Ignore `E402` (import violations) in all `__init__.py` files
], "src/*.py" = [
    "INP001", # ignore "INP001" (implicit namespace package) for all (direct) files in src/
], "tests/*.py" = [
    "INP001", # ignore "INP001" (implicit namespace package) for all (direct) files in tests/
], "tests/**/*.py" = [
    "S101", # ignore "S101" (no asserts) for all files in tests/
] }


[tool.ruff.format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = false

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"


[tool.coverage.run]
relative_files = true
source = ["src/"]


[tool.mypy]
python_version = "3.13"
warn_return_any = false
disallow_untyped_calls = false
strict = true
ignore_missing_imports = false
warn_unreachable = true
disallow_any_explicit = false
allow_redefinition = true
strict_optional = true
show_error_codes = true
show_column_numbers = true
warn_no_return = true
disallow_any_unimported = false
disallow_any_generics = true
implicit_reexport = false


[[tool.mypy.overrides]]
module = [
    "enlighten",
    "torchaudio",
    "ffmpeg.*",
    "pynvml",
    "speechbrain.*",
    "themoviedb.*",
    "pyperclip",
    "amdsmi.*",
]
follow_untyped_imports = true
